#mySidebar {
  z-index:3;
  width:250px;
  font-weight:bold;
  color: white;
  background-color: #1A4287;
}

#topBar {
  font-size: 24px;
  font-weight:bold;
  color: white;
  background-color: rgb(78, 99, 136);
}

#title {
  font-size: 64px;
  margin: 10px;
  margin-top:85px;
  right: 0;
  left: 0;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  display: block;
  font-style: oblique;
}

#about {
  margin-top:80px;
}

.main {
  margin-left:340px;
  margin-right:40px
}

.sectionName {
  margin-top: 75px;
  font-size:48px;
  color: #1A4287;
}

.sectionDivider {
  border-radius: 5px;
  width:50px;
  border:5px solid #1A4287;
}

body,h1,h2,h3,h4,h5 {
  font-family: "Poppins", sans-serif
} 

h2 {
  font-size: 30px;
  color: #CC6116;
}

@media (max-width:992px) {
	.w3-sidebar.w3-collapse {
		display: none
	}
	.main {
		margin-left: 40px!important;
		margin-right: 40px!important
	}
	.w3-auto {
		max-width: 100%
	}
}

/* Set document default styles for text */
h1,
h2,
h3 {
  line-height: 1.2;
}

.container {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
  margin-left:300px;
  margin-right:40px;

}

/*Used when changing width of browser
Collapses menu into a navigation button
Forces top title bar to appear
*/
@media (max-width:992px) { 
	.w3-sidebar.w3-collapse {
		display: none
	}
	.container {
		margin-left: 0;
		margin-right: 0;
	}
	.w3-auto {
		max-width: 100%
	}
}

#sim-fill .caption {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-self: flex-end;
}

.sim-intro {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-end;

}

.wrapper {
  min-height: 100%;
  display: flex;
  width: 90%;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background: #fefefe;
  margin: 25px;
}

.wrapper div {
  border-radius: 25px;
}


.content {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 3px dotted #1A4287;
  flex-grow: auto;
  padding: 2%;
  overflow-wrap: break-word;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 40%;
  max-height: 400px;
  overflow: scroll;

}

.content li {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 2%;
  color: #1A4287;
  
}

.content p {
  font-size: 1.5em;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  color: #CC6116;
  font-style: oblique;
  font-weight: bold;
}
::-webkit-scrollbar {
  width: 0px;
}

.p {
  background-color: #ffc477;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  border: 2px solid #eeb44f;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 14px;
  padding: 10px 17px;
  text-decoration: none;
  text-shadow: 0px 1px 1px #cc9f52;
}

.p:hover {
  background-color: coral;
  border: 2px solid rgb(216, 91, 46);
}

.p:active {
  position: relative;
  top: 1px;
}

.scroll {
  display: grid;
  grid-gap: 10%;
  grid-template-columns: repeat(15%);
  grid-template-rows: repeat(5%);
  width: 90%;
  margin-right: auto;
}

thead{
  display: block;
  cursor: pointer;
}

thead th:hover {
  background: #bbb;
	border-bottom-color: #999;
}

thead th:active {
  background: #4334eb;
	border-bottom-color: #999;
}

thead tr {
  display:flex;
  justify-content: space-between;

  column-count: 5;
  font-size: 25px;
  height:20px;
}

tbody {
  display: grid;
  height: 400px;
  width: 100%;
  flex-direction: column;
  column-count: 5;
  column-gap: space;
  overflow: scroll;
}



tbody tr {
  display:flex;
  justify-content: space-between;
  align-content: space-between;
  height:10%;
  padding-top: 2%;
  padding-bottom: 2%;

  column-count: 5;
  column-gap: space;
}


tbody tr td {
  display: flex;
  text-align: left;
}
tbody tr:hover {
  background: #CC6116;
	border-bottom-color:#CC6116;
}



tbody td{
  display: flex;
  justify-content: left;
  align-content: center;
  vertical-align: middle;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 2rem;
}

iframe{
  padding-top:7.5%;
  padding-left, padding-right: 15;
  padding-bottom: 5%;
	border:none;
	display: block;
	margin: 0px auto 25px auto;
}


tbody p {
  cursor: pointer;
}

.w3-bar-block a:hover{
  background-color: #CC6116;
}
.button {
  background-color: #CC6116;
  margin-right: 605px;
  color: #1A4287;
  border: 3px dotted #1A4287;
  border-radius: 25px;
  margin-bottom:20px;
}

.scroll{
  margin-top: 20px;
}

.clock {
  margin-top: 20px;

}
